.btn {
    border: 1px solid black;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
    font-size: 35px !important;
}

.container {
    margin-top: -30px !important;
    padding-top: 0 !important;
    height: 500px !important;
}
.jumbotron{
    height: 120px !important;
    padding-top: 10px !important;
}
.jumbotron::after{
    clear: both;
    display: inline;
}
.custom-btn{
    width: 190px !important;
    height: 90px !important;
}
